<app-header text="Meus Produtos"></app-header>

<div class="container">
  <nav>
    <button *ngIf="hasCreatePermission" type="button" data-bs-toggle="modal" data-bs-target="#modalCreateProduct"
      class="btn btn-primary">Adicionar</button>
    <button *ngIf="hasEditPermission" type="button">
      Editar
    </button>
    <button *ngIf="hasDeletePermission" type="button">
      Deletar
    </button>
  </nav>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<app-modal *ngIf="hasCreatePermission" idModal="modalCreateProduct" titleModal="Cadastrar produto"></app-modal>
