<app-header text="Meus Produtos"></app-header>

<div class="container">
  <nav>
    <button *appHasPermission="'Criação'" type="button" data-bs-toggle="modal" data-bs-target="#modalCreateProduct"
      class="btn btn-primary">Adicionar</button>
    <button *appHasPermission="'Edição'" type="button" data-bs-toggle="modal" data-bs-target="#modalEditProduct"
      class="btn btn-secondary">Editar</button>
    <button *appHasPermission="'Deleção'" type="button">
      Deletar
    </button>
  </nav>

  <table class="table table-hover">
    <thead class="table-light">
      <tr>
        <th>Nome</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" data-bs-toggle="modal" data-bs-target="#modalEditProduct">
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency: 'AOA' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<app-modal *appHasPermission="'Criação'" idModal="modalCreateProduct" titleModal="Cadastrar produto"></app-modal>

<app-modal *appHasPermission="'Edição'" idModal="modalEditProduct" titleModal="Editar produto"></app-modal>
