.container {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    padding-block: 0.8rem;
    width: 80px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.cardsContactos {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .cardContacto {
    display: flex;

    .photo {
      margin-right: 10px;
    }
  }
}
