header {
  background: darken(#27262c, 5%);

  .content {
    max-width: 40rem;
    width: 100%;
    margin: 0 auto 1rem;
    padding: 1rem;
    text-align: center;

    h2 {
      color: #fff;
    }

    nav {
      margin-top: 1rem;
      color: #999;

      a {
        color: #999;
      }
    }
  }
}
